:root{
  --color-primary: #6aff99;
  --color-primary-hover: #43eb78;
  --color-primary-focus: rgba(106, 255, 153,.25);
  --color-secondary: #1e1e1e;
  --color-light: #ffffff;
  --color-dark: #000000;
  --color-txtForm: #627597;
  --color-txt-dark: #5e5e5e;
  --color-alert: #bf1f23;
  --color-success: #9dda34;
}
body{
  background-color: var(--color-dark);
}
p, ul{
  margin: 0;
}
li{
  list-style: none;
}

/*** LOGIN ****/
.wrapper__btn__login{
  width: 100%;
  height: 60px;
}
#loginForm{
  font-family: sans-serif;
}
#loginForm label{
  margin-top: 25px;
  margin-bottom: 5px;
  font-size: .95rem;
  font-weight: 500;
  color: var(--color-light);
}
#loginForm #btnPass{
  margin: 20px auto 0;
  border: none;
  display: block;
  text-align: center;
  font-size: .8rem;
  color: var(--color-light);
  background: transparent;
  text-decoration: underline;
  transition: all .3s ease-in-out;
}
#loginForm #btnPass:hover, .wrapper__signup a:hover{
  color: var(--color-primary-hover)
}
#loginForm input{
  margin-top: 0;
  border: 1px solid var(--color-txt-dark);
  border-radius: 3px;
  width: 100%;
  height: 40px;
  font-size: .8rem;
  color: var(--color-light);
  background-color: transparent;
}
#loginForm input::placeholder{
  color: var(--color-txt-dark);
}
#loginForm input:focus{
  border: 1px solid var(--color-primary);
}
.form-control:focus {
  box-shadow: 0 5px 25px 0.25rem var(--color-primary-focus);
}
#loginForm .btn__login{
  margin: 30px 0;
  padding: 14px;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  text-align: center;
  color: var(--color-dark);
  font-size: .9rem;
  font-weight: 600;
  font-family: var(--text-login);
  background-color: var(--color-primary);
  transition: all .3s ease-in-out;
}
#loginForm .btn__login:hover{
  padding: 12px 22px;
  border: none;
  font-weight: 600;
  background-color: var(--color-primary-hover);
}
.loginPass{
  display: block;
}
.wrapper__signup{
  margin-top: 60px;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-evenly;
  font-size: .8rem;
  color: var(--color-light);
}
.wrapper__signup a{
  color: var(--color-light);
  text-decoration: underline;
  transition: all .3s ease-in-out;
}
/***  END  LOGIN  ****/


/***  MENU  ****/
.body__menu{
  background: rgb(22,24,36);
  background: linear-gradient(
                45deg,
                rgba(43,69,68,1) 2%, 
                rgba(22,24,36,1) 15%, 
                rgba(0,0,0,1) 47%, 
                rgba(22,24,36,1) 67%,
                rgba(43,69,68,1) 93%
              );
}
.wrapper__menu{
  padding-top: 30px;
  color: var(--color-light);
}
.header__menu {
  height: 60px;
  color: var(--color-light);
}
.bi-person-circle{
  font-size: 4rem;
}
.bi-bell{
  font-size: 1.5rem;
}
.bi-bell:hover{
  color: var(--color-primary-hover);
  cursor: pointer;
  transition: all .3s ease-in;
}
.wrapper__balance{
  color: var(--color-light);
}
.credit__card{
  border: 1px solid rgba(209, 213, 219, 0.3);
  border-radius: 30px;
  height: 270px;
  background-color: rgba(255, 255, 255, 0.37);
  backdrop-filter: blur(5px) saturate(180%);
  -webkit-backdrop-filter: blur(5px) saturate(170%);
}
.bi-sim-fill{
  transform: rotate(-90deg);
}
.bi-wifi-2{
  transform: rotate(90deg);
}
.wrapper__nav__link{
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  width: 90px;
  height: 90px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
}
.wrapper__nav a{
  color: var(--color-light);
  text-decoration: none;
  transition: all ease-in .3s;
}
.wrapper__nav a:hover {
  color: var(--color-primary-hover);
}
.fa-wallet, .bi-send-fill, .fa-hand-holding-usd, .fa-history{
  margin-bottom: 5px;
  font-size: 1.3rem;
}
.fa-lightbulb, .bi-paypal, .bi-bag-dash{
  font-size: 2.2rem;
}
.transaction_card{
  margin: 25px auto;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 15px;
  height: 120px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
}
.transaction_card_title{
  font-size: 1.1rem;
  font-weight: 500;
}
.transaction_card_date{
  font-size: .9rem;
}
.transaction_card_value{
  font-size: 1.1rem;
  font-weight: 500;
}
.transaction_payment{
  color: var(--color-alert);
}
.transaction_receipt{
  color: var(--color-success);
}
/***  END  MENU  ****/


/***  DEPOSIT  ****/
.wrapper__deposit{
  padding-top: 30px;
  color: var(--color-light);
}
.bi-arrow-left-circle{
  font-size: 2.2rem;
}
/***  END  DEPOSIT  ****/
